<app-sidebar></app-sidebar>

<div style="margin-left: 90px;">
  <div class="ui container">
    <div class="ui hidden divider"></div>

    <!-- Corp de la page -->
    <div class="ui container segment" >

      <form>

        <h1 class="ui header">
          <div class="content">
            Formulaire de création d'un test
          </div>
          </h1>

          <div class="ui hidden divider"></div>

          <label for="label">Nom du test :</label>
          <input id="label" >

          <label>
            First Name:
            <input type="text" formControlName="firstName">
          </label>

          <button type="submit">Enregistrer</button>

      </form>

    </div>

  </div>
</div>
