<table class="ui single selectable line unstackable table">
  <thead>
  <tr>
    <th>Test</th>
    <th>Date</th>
    <th>Moyenne</th>
  </tr>
  </thead>
  <tbody>

  <tr class="even">

    <td>
      <a href="#">
        LP MMS / JPA - part-2
      </a>
    </td>

    <td>15/01/2019</td>

    <td>
      4/5
    </td>

  </tr>

  <tr class="odd">

    <td>
      <a href="#">
        LP MMS / JPA - part-1
      </a>
    </td>

    <td>13/12/2018</td>

    <td>
      3/5
    </td>

  </tr>

  <tr class="even">

    <td>
      <a href="#">
        Introduction IHM - Partie 2
      </a>
    </td>

    <td>14/10/2018</td>

    <td>
      3/5
    </td>

  </tr>

  <tr class="odd">

    <td>
      <a href="#">
        Introduction IHM - Partie 1
      </a>
    </td>

    <td>03/10/2018 10:10</td>

    <td>
      5/5
    </td>

  </tr>

  </tbody>
</table>
