<table class="ui single selectable line unstackable table">
    <thead>
    <tr>
        <th>Test</th>
        <th>Nombre de questions</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let test of listTest">

        <td>
            <a>
                {{test.title}}
            </a>
        </td>

        <td>{{test.questions.length}} Question(s)</td>

        <td>
            <a class="ui compact icon primary button" data-tooltip="Exécuter le sujet" data-inverted=""><i class="play icon"></i></a>
        </td>

        <td>
            <div class="ui dropdown" suiDropdown data-tooltip="Options">
                <i class="ellipsis vertical icon" ></i>
                <div class="menu" suiDropdownMenu>
                    <div class="item"><i class="pencil alternate icon"></i>Modif</div>
                    <div class="item"><i class="trash alternate icon"></i>Delete</div>
                </div>
            </div>
        </td>

    </tr>

    </tbody>
</table>
