<div class="ui left vertical inverted visible sidebar labeled icon menu"
     style="background-color: #4f7691; overflow: visible !important;">

  <a class="header item" style="margin-top: 1em;">
    <img src="../../assets/img/Elaastic_pictoRVB.png" style="width: 48px">
  </a>

  <div class="ui divider"></div>

  <!-- Link to index page -->
  <a routerLink="/index" class="item" data-tooltip="Mes tests" data-position="right center"
     data-inverted="">
    <i class="list icon"></i>
  </a>

  <!--Link to creation page -->
  <a routerLink="/creation" class="item" data-tooltip="Créer un test" data-position="right center"
     data-inverted="">
    <i class="add icon"></i>
  </a>

  <div id="user-menu-dropdown" class="ui dropdown item user-menu upward" data-tooltip="Mon compte" suiDropdown
       data-position="right center" data-inverted="" tabindex="0">
    <i class="user icon"></i>

    <div class="ui vertical menu transition hidden" suiDropdownMenu tabindex="-1">
      <div class="header" style="text-align: center; text-overflow: ellipsis; overflow: hidden;">
        BastienRanc
      </div>
      <a class="item"><i class="address card outline icon"></i> Mon compte</a>

      <a class="item"><i class="sign out icon"></i> Déconnexion</a>
    </div>
  </div>

  <style>
    .user-menu {
      position: relative;
    }

    @media (min-height: 600px) {
      .user-menu {
        position: absolute !important;
        bottom: 0 !important;
      }
    }
  </style>

  <div class="ui divider"></div>

</div>
