<div class="ui list">

  <div class="item">
    <i class="angle icon" [class.down]="list" [class.right]="!list" (click)="list = !list"></i>
    <div class="content">
      <div class="ui checkbox">
        <input type="checkbox" name="questionCheckBox1" [checked]="checkParent">
        <label>{{test.title}}</label>
      </div>

      <div [suiCollapse]="!list">
        <div class="list">

          <div class="item" *ngFor="let question of test.questions">
            <i class="icon"></i>
            <div class="content">
              <div class="ui checkbox">
                <input type="checkbox" name="{{question.id}}" (change)="checkParent = true">
                <label>{{question.title}}</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
