<div class="ui segment">
  <sui-progress class="indicating" [value]="changingValue">Auto-Evaluation</sui-progress>
</div>
<div class="ui segment">
  <div class="centerButton">
    <button (click)="onClickEvaluate(0)" class="ui inverted secondary button">Raté</button>
    <button (click)="onClickEvaluate(1)" class="ui inverted red button">Pas acquis</button>
    <button (click)="onClickEvaluate(2)" class="ui inverted yellow button">En cours d'acquisition</button>
    <button (click)="onClickEvaluate(3)" class="ui inverted olive button">Acquis</button>
    <button (click)="onClickEvaluate(4)" class="ui inverted green button">Parfait</button>
  </div>
</div>
